#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	.nav#homeLink 首页
	.nav#createLink 发布
	.nav#cr_acTradeSetup 审核
	.nav#cr_acBenchmark 销售
	.nav#cr_benchmark 运输